{% extends 'base.html' %}

{% block title %}
    Checkout
{% endblock %}

{% block content %}
    <h1>Checkout</h1>
    <div class="order-info">
        <ul>
            {% for item in cart %}
            <li>
                {{ item.quantity }} x {{ item.product.name }}
                <span>${{ item.totalPrice }}</span>
            </li>
            {% endfor %}
        </ul>
        <p>Total: ${{ cart.getTotalPrice }}</p>
    </div>

    <form action="." method="post" class="order-form" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Place order"></p>
    </form>


{% endblock %}