{% load thumbnail %}

{% for image in images %}
    <div class="image">
        <a href="{{ image.getAbsoluteUrl }}">
            {% thumbnail image.image "300x300" crop="100%" as im %}
                <a href="{{ image.getAbsoluteUrl }}">
                    <img src="{{ im.url }}" alt="">
                </a>
            {% endthumbnail %}
        </a>
        <div class="info" style="text-align:center;">
            <a href="{{ image.getAbsoluteUrl }}" class="title" style="color:dodgerblue">
                <span style="text-align:center;">
                    {{ image.title }}
                </span>
            </a>
            <p>
                Bookmarked by <a href="{% url 'userDetail' image.user.username %}" style="color:dodgerblue">{{ image.user.username }}</a>
            </p>
        </div>
    </div>
{% endfor %}